.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  color: white;
  align-items: center;
}

.edit {
  padding: 2px;
}

.initial {
  display: initial;
  padding: 20px;
}

.User {
  border-radius: 18px;
  border: 1px solid darkgray;
  color: white;
  padding-top: 1px;
}

.UserName {
  color: white;
  border-radius: 10px;

  padding: 0px 0px 2px 2px;
}
.styled {
  margin-top: 50px;
}
.roundblue {
  width: 0px;
  height: 0px;
  padding: 2px;
  margin: 0px;
  margin-right: 2px;
  border-radius: 10px;
  display: inline-flex;
  margin-top: 8px;
  margin-left: 15px;
  float: left;

  background-color: rgb(79, 85, 242);
}
.roundgreen {
  width: 0px;
  height: 0px;
  padding: 2px;
  margin: 0px;
  border-radius: 10px;
  display: inline-flex;
  margin-top: 8px;
  margin-left: 15px;

  float: left;
  background-color: rgb(69, 188, 75);
}

.first {
  background-color: black;
  color: white;
}
.rapper {
  background-color: black;
}

.playerOne {
  padding: 50px;
  color: red;
}

.playerTwo {
  padding: 50px;
  color: orange;
}

.pleaseChoosePlayer {
  margin-top: 80px;
}
.font {
  font-size: 100%;
  font-weight: 900;
  color: silver;

}

.name{
  display: contents;
}
.center-item {
  margin:0 auto;
}
.ss{
  background-color: black;
}