.App {
  text-align: center;
  background-color: #282c34;
  min-height: 20vh;
  color: white;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.edit {
  padding: 2px;

  justifycontent: center;
}

.align {
  text-align: center;
  align-items: center;
  margin: 0 auto;
}

strong {
  text-align: center;
}
.rapp {
  padding: 20px;
}
.initial {
  display: initial;
}

.UserName {
  display: contents;
}
